<p style="color: green"><%= notice %></p>
<%= link_to "Sing Out", destroy_user_session_path if user_signed_in? %>
<%= link_to "Sing In", new_user_session_path if !user_signed_in? %>
<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
</div>


<%= link_to "New post", new_post_path %>
